:root {
    --darkpink: rgb(253, 169, 228);
    --medpink: rgb(249, 181, 227);
    --lightpink: rgb(254, 198, 237);
    --textboxpink: rgb(250, 238, 247);
    --gray: rgb(123, 108, 116);
    --darkgray: rgb(79, 69, 76);
    --bgpink: rgb(255, 241, 255);
    --darkerpink: rgb(202, 79, 165);
}

* {
    background-color: var(--bgpink);
    font-family: 'Courier New', Courier, monospace;
    color: var(--darkgray);
}

/* header/timer */
.header {
    display: flex;
    position: fixed;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    min-height: auto;
    width: 100%;
    background-color: var(--darkpink);
    margin: -10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}

.headertxt {
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 45px;
    margin-right: 10px;
    color: var(--darkgray);
}

#timer {
    background-color: transparent;
    position: relative;
    padding-bottom: 21px;
    font-size: 22px;
}

/* "start" button */
.startSec {
    display: none;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 150px;
    min-height: 100%;
    background-color: transparent;
}

.startBtn {
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 100px;
    font-size: 50px;
    font-weight: bold;
    background-color: var(--medpink);
    border-style: dashed;
    border-width: 5px;
    border-radius: 5%;
    border-color: var(--darkgray);
}

.startBtn:hover {
    font-size: 60px;
    cursor: pointer;
    color: var(--gray);
    background-color: var(--lightpink);
}

/* questions/answers */
#questions {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    min-height: 500px;
}

.button {
    display: block;
    font-size: 22px;
    border-style: none;
    background-color: transparent;
    margin-bottom: 20px;
}

.button:hover {
    cursor: pointer;
    color: var(--gray);
    font-weight: bold;
}

.question {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: transparent;
}

.questionHead {
    font-size: 28px;
    margin-top: 200px;
}

/* scoreboard section & submit/try again buttons */
.scoreSec {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 200px;
    max-width: 100%;
    max-height: 270px;
    padding-bottom: 100px;
    background-color: transparent;
}

.scoreDisplay {
    margin-top: 50px;
}

.scoreDisplay, .initialPrompt {
    font-size: 24px;
    font-weight: bold;
}

.textbox, .initialSubmit {
    max-width: 150px;
    margin-top: 20px;
    align-self: center;
}

.textbox {
    background-color: var(--textboxpink);
    resize: none;
    min-height: 30px;
    min-width: 200px;
    font-size: 20px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.initialSubmit, .redoBtn, .retryBtn {
    max-width: fit-content;
    font-weight: bold;
    background-color: var(--medpink);
    font-size: 22px;
    border-style: dashed;
    border-color: var(--darkgray);
    border-width: 2px;
    border-radius: 5%;
}

.initialSubmit:hover, .redoBtn:hover, .retryBtn:hover {
    cursor: pointer;
    color: var(--gray);
    background-color: var(--lightpink);
    font-size: 24px;
    border-color: var(--gray);
}

.redoBtn, .retryBtn {
    margin-top: 10px;
}

/* "time's up" message */
.timesupMsg {
    font-size: 28px;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 20px;
}


/* scoreboard */
.scoreboardText {
    font-size: 28px;
    margin-top: 40px;
}

.yourscoreText, .yourinitialsText {
    font-size: 22px;
    margin-top: 10px;
}

.yourinitialsText {
    margin-bottom: 20px;
}

.footer {
    display: none;
}

/* fix for misc property adjustments on med displays */
@media screen and (min-width: 1440px) {
    #timer {
        right: 3%;
    }

    .startBtn {
        margin-top: 200px;
    }

    .questionHead {
        margin-top: 300px;
    }

    .scoreDisplay {
        margin-top: 100px;
    }

    .scoreboardText {
        margin-top: 90px;
    }
}

/* larger displays */
@media screen and (min-width: 1900px) {

    .header {
        max-width: 1920px;
    }

    .headertxt {
        font-size: 60px;
    }

    #timer {
        font-size: 26px;
    }

    .startSec {
        min-height: 550px;
    }

    .startBtn {
        padding: 40px;
        padding-left: 100px;
        padding-right: 100px;
        margin-top: 200px;
        font-size: 70px;
        font-weight: bold;
    }
    
    .startBtn:hover {
        font-size: 80px;
    }

    #questions {
        min-height: 850px;
    }

    .questionHead {
        font-size: 30px;
        margin-top: 100px;
    }

    .button {
        font-size: 26px;
    }

    .scoreDisplay, .initialPrompt {
        font-size: 26px;
    }

    .textbox {
        font-size: 28px;
        min-height: 40px;
        min-width: 250px;
        margin-bottom: 15px;
    }

    .initialSubmit, .redoBtn, .retryBtn {
        font-size: 24px;
    }

    .initialSubmit:hover, .redoBtn:hover, .retryBtn:hover {
        font-size: 26px;
    }

    .timesupMsg {
        margin-top: 100px;
    }

    .scoreboardText {
        font-size: 30px;
        margin-top: 50px;
    }
    
    .yourscoreText, .yourinitialsText {
        font-size: 24px;
    }
}

/* tablets */
@media screen and (max-width: 800px) {
    .header {
        flex-flow: column wrap;
        align-items: center;
    }

    .headertxt {
        font-size: 35px;
        margin-left: -40px;
        margin-bottom: -20px;
    }

    #timer {
        font-size: 20px;
        margin-top: 15px;
    }

    .startBtn {
        font-size: 40px;
        padding: 20px;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 300px;
    }

    .startBtn:hover {
        font-size: 50px;
    }

    .questionHead {
        flex-flow: row wrap;
        justify-content: center;
        font-size: 22px;
        margin-top: 400px;
        margin-left: 20px;
    }

    .button {
        font-size: 18px;
    }

    .scoreDisplay, .initialPrompt {
        font-size: 22px;
        margin-left: 35px;
    }

    .textbox {
        font-size: 18px;
        min-height: 30px;
        min-width: 150px;
        margin-bottom: 15px;
    }

    .initialSubmit, .redoBtn, .retryBtn {
        font-size: 20px;
    }

    .retryBtn {
        margin-left: 35px;
        margin-top: 10px;
    }

    .initialSubmit:hover, .redoBtn:hover, .retryBtn:hover {
        font-size: 22px;
    }

    .timesupMsg {
        margin-top: 100px;
        margin-left: 35px;
        font-size: 22px;
    }

    .scoreboardText {
        font-size: 26px;
        margin-top: 150px;
    }
    
    .yourscoreText, .yourinitialsText {
        font-size: 20px;
        margin-bottom: 15px;
    }
}

/* smartphones */
@media screen and (max-width: 450px) {
    .header {
        flex-flow: column wrap;
        align-items: center;
    }

    .headertxt {
        font-size: 19px;
        margin-left: -45px;
        margin-bottom: -30px;
    }

    #timer {
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: -5px;
        margin-left: -30px;
    }

    .startBtn {
        font-size: 30px;
        padding: 20px;
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 200px;
    }

    .startBtn:hover {
        font-size: 40px;
    }

    .questionHead {
        flex-flow: row wrap;
        justify-content: center;
        font-size: 16px;
        margin-top: 330px;
        margin-left: 15px;
    }

    .button {
        font-size: 16px;
    }

    .scoreDisplay, .initialPrompt {
        font-size: 16px;
        margin-left: 20px;
    }

    .textbox {
        font-size: 14px;
        min-height: 25px;
        margin-bottom: 15px;
    }

    .initialSubmit, .redoBtn, .retryBtn {
        font-size: 16px;
    }

    .retryBtn {
        margin-left: 25px;
        margin-top: 5px;
    }

    .initialSubmit:hover, .redoBtn:hover, .retryBtn:hover {
        font-size: 18px;
    }

    .timesupMsg {
        margin-top: 150px;
        margin-left: 25px;
        font-size: 16px;
    }

    .scoreboardText {
        font-size: 20px;
        margin-top: 150px;
        margin-bottom: 12px;
    }
    
    .yourscoreText, .yourinitialsText {
        font-size: 16px;
        margin-bottom: 10px;
    }
}