:root {
    --darkpink: rgb(253, 169, 228);
    --medpink: rgb(249, 181, 227);
    --lightpink: rgb(254, 198, 237);
    --whitepink: rgb(251, 226, 243);
    --textboxpink: rgb(253, 236, 248);
    --gray: rgb(123, 108, 116);
    --darkgray: rgb(79, 69, 76);

}

* {
    background-color: var(--whitepink);
    font-family: 'Courier New', Courier, monospace;
    color: var(--darkgray);
}

/* styles for header, header text, and timer */
.header {
    display: flex;
    position: fixed;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    min-height: auto;
    width: 100%;
    background-color: var(--lightpink);
    margin: -10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}

.headertxt {
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 35px;
    margin-right: 10px;
}

#timer {
    background-color: transparent;
    padding-bottom: 15px;
    font-size: 20px;

}

/* test class */
.testy {
    color: red;
}

/* style for "Start!" button/hover pseudoclass */

.startSec {
    display: none;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 150px;
    min-height: 100%;
    background-color: transparent;
}

.startBtn {
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 50px;
    font-weight: bold;
    background-color: var(--medpink);
    border-style: dashed;
    border-width: 5px;
    border-radius: 5%;
}

.startBtn:hover {
    font-size: 70px;
    cursor: pointer;
    color: var(--gray);
    background-color: var(--lightpink);
}

/* style for questions section/questions/answer buttons */
#questions {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    min-height: 500px;
}

.button {
    display: block;
    font-size: 18px;
    border-style: none;
    background-color: transparent;
    margin-bottom: 20px;
}

.button:hover {
    cursor: pointer;
    color: var(--gray);
    font-size: 18px;
    font-weight: bold;
}

.question {
    display: flex;
    flex-flow: column wrap;
    background-color: transparent;
}

.questionHead {
    color: red;
}

/* style for the scoreboard section with submit/try again buttons */
.scoreSec {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin-top: 200px;
    max-width: 100%;
    max-height: 270px;
    padding-bottom: 100px;
    background-color: transparent;
}

.scoreDisplay, .initialPrompt {
    font-size: 20px;
    font-weight: bold;
}

.textbox, .initialSubmit {
    max-width: 150px;
    margin-top: 20px;
    align-self: center;
}

.textbox {
    background-color: var(--textboxpink);
    resize: none;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}

.initialSubmit, .redoBtn, .retryBtn {
    max-width: fit-content;
    font-weight: bold;
    background-color: var(--medpink);
    font-size: 18px;
    border-style: dashed;
    border-color: var(--darkgray);
    border-width: 2px;
    border-radius: 5%;
}

.initialSubmit:hover, .redoBtn:hover, .retryBtn:hover {
    cursor: pointer;
    color: var(--gray);
    background-color: var(--lightpink);
    font-size: 20px;
    border-color: var(--gray);
}

.redoBtn, .retryBtn {
    margin-top: 10px;
}

.timesupMsg {
    color: red;
}

.scoreboardText {
    color: red;
}

/* why tf don't these work on my life i swear to god- */
.yourscoreText {
    color: red;
}

.yourinitialsText {
    color: red;
}

.footer {
    display: flex;
    min-height: 100px;
    width: 100%;
    background-color: var(--lightpink);
    margin: -10px;
}

@media screen and (min-width: 1900px) {

    .header {
        max-width: 1920px;
    }

    .headertxt {
        font-size: 45px;
    }

    .footer {
        min-width: 100%;
        position: fixed;
    }

    #timer {
        position: relative;
        right: 3%;
    }

    .startSec {
        min-height: 550px;
    }

    .startBtn {
        font-size: 70px;
        font-weight: bold;
    }
    
    .startBtn:hover {
        font-size: 90px;
    }

    #questions {
        min-height: 850px;
    }
}