:root {
    --pink: rgb(253, 169, 228);
    --lightpink: rgb(249, 181, 227);
    --whitepink: rgb(246, 210, 235);
    --gray: rgb(123, 108, 116);
    --darkgray: rgb(79, 69, 76);

}

* {
    background-color: var(--whitepink);
    font-family: 'Courier New', Courier, monospace;
}

/* styles for header, header text, and timer */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 150px;
    background-color: var(--lightpink);
    margin: -10px;
    padding-left: 30px;
    padding-right: 30px;
    color: var(--darkgray);
    font-weight: bold;
}

.headertxt {
    background-color: transparent;
    padding-bottom: 15px;
    font-size: 30px;
}

#timer {
    background-color: transparent;
    padding-bottom: 15px;
    font-size: 20px;

}

/* style for "Start!" button/hover pseudoclass */
#start {
    display: flex;
    min-height: 500px;
    width: 100%;
    margin-top: 10px;
    margin-left: -10px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
}

#start p {
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    padding-left: 80px;
    padding-right: 80px;
    font-size: 50px;
    font-weight: bold;
    color: var(--darkgray);
    background-color: var(--pink);
    border-style: dashed;
    border-width: 5px;
    border-radius: 5%;
}

#start p:hover {
    font-size: 70px;
    cursor: pointer;
    color: var(--gray);
    background-color: var(--lightpink);
}


/* style for questions section/questions */
#questions {
    display: none;
    justify-content: center;
    background-color: transparent;
    min-height: 500px;
    width: 100%;
    margin-top: 10px;
    margin-left: -10px;
    padding-right: 20px;
}

.question {
    background-color: transparent;
}

.question ol {
    font-size: 18px;
}

.question li {
    margin: 10px;
}

.footer {
    min-height: 100px;
    background-color: var(--lightpink);
    margin: -10px;
}
